body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #272525;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.profile-pic {
  display: block;
  margin: 0 auto 20px;
  width: 200px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
  text-align: center;
  color: #333;
}
p {
  text-align: justify;
  color: #666;
}
.project {
  margin-top: 1px;
  padding-top: 1px;
  border-top: 0.5px solid #f9f9f9;
}
.project-item {
  margin-bottom: 20px;
}
.project-item img {
  display: block;
  margin: 0 auto 10px;
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.project-item img:hover {
  transform: scale(1.05);
}
.project-info {
  text-align: center;
}
.keywords {
  font-style: italic;
  color: #888;
}
.footer {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #888;
}
.news {
  margin-top: 30px;
}
.commit-graph {
  margin-top: 10px;
}
.commit-node {
  margin-bottom: 0.2px;
}
.commit-id {
  font-size: 15px;
  color: #888;
  font-weight: bold;
}
.commit-message {
  font-weight: lighter;
}

.publications {
  background-color: #e7e1e1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.publication-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.publication-details {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.publication-keywords {
  font-size: 14px;
  color: #999;
}
.linkedin-icon {
  width: 30px; /* Adjust size as needed */
  height: 30px;
  margin-right: 10px; /* Adjust spacing as needed */
  fill: #090a0a; /* Adjust color as needed */
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
